<!doctype html>
<html>
<head>
  <title>Todo</title>
  <link rel="stylesheet" href="/stylesheets/myCSS.css">
</head>
<body>
  {{{body}}}
  <div id="footer">
    <hr>
    <p>An Andrew Conlin Production</p>
  </div>
</body>
</html>
