<h1>{{title}}</h1>
<!-- <a href="/todo">View todos</a> old link to list of todos-->
<form action = "/create" method ="post">
  New Todo: <input type = "text" name = "content"/> <input type = "submit" value = "Add todo"/>
</form>

<ul class="todo_list">
  {{#each todos}}
    <li>{{this.content}}</li>
  {{/each}}
</ul>
