<h4>{{title}}</h4>
<hr>
<form action = "/create" method ="post">
  <p>New Todo: <input type = "text" name = "content"/> <input class = "button" type = "submit" value = "Add todo"/> </p>
</form>

<h2>Todos:</h2>
<ul class="todo_list">
  {{#each todos}}
    <li>
      <a class = "item" href="/edit/{{this.id}}" title="Update">{{this.content}}</a>
      <a class = "delete" href="/delete/{{this.id}}" title="Delete">Delete</a>
    </li>
  {{/each}}
</ul>
